In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo

# Mars News

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/rachelverner/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
title = soup.title.text
title

'News - Mars Exploration Program'

In [7]:
news_title = soup.find('div', class_="content_title").text
print(news_title)

NASA to Reveal Name of Its Next Mars Rover

In [8]:
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.

# Mars Images

In [9]:
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [10]:
html_img = browser.html
soup = BeautifulSoup(html_img, 'html.parser')

In [11]:
for item in soup.find_all('img', class_="headerimage fade-in"):
    print(item['src'])

image/featured/mars1.jpg

In [12]:
mars_pic=item['src']

main_url = 'https://spaceimages-mars.com/'

featured_image_url = main_url + mars_pic

featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

# Mars Facts

In [13]:
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)
table = pd.read_html(facts_url)
table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
facts_df=table[0]
facts_df.columns = ["Description","Mars","Earth"]

In [15]:
facts_df=facts_df.set_index(["Description"])
facts_df=facts_df.drop(["Mars - Earth Comparison"])
facts_df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [16]:
facts_html = facts_df.to_html()
facts_html = facts_html.replace("\n","")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [17]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/cerberus_enhanced.tif"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/schiaparelli_enhanced.tif"},
    {"title": "Syrtis Major", "img_url": "https://marshemispheres.com/images/syrtis_major_enhanced.tif"},
    {"title": "Valles Marineris", "img_url": "https://marshemispheres.com/images/valles_marineris_enhanced.tif"},
]

In [18]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.marsDB
collection = db.facts